<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="ie-edge">
		<meta name="viewport" name="width=device-width,initial-scale=1.0">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Montserrat'>
		<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
		<title>Student List</title>
	</head>
	<body>
		<div class="w3-bar w3-pink w3-container w3-padding">
			<h3>School v1.0</h3>
		</div>
		<div class="w3-container w3-padding-16">
			<%if(message!=""){ %>
				<div class="w3-panel w3-amber w3-container w3-padding">
					<%=message%>
				</div>
			<% }%>
		</div>
</html>